body {
    box-sizing: border-box;
}

form {
    min-height: 70vh;
    width: 30%;
    margin: 20vh auto;
    padding: 1rem;
    border: 1px solid rgb(126, 50, 50);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

form > label {
    font-size: 2rem;
    line-height: 3rem;
}

form > input {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #2980B9;
    border-radius: .8rem;
    font-size: 1.2rem;
}

form .checkbox {
    display: flex;
    align-items: center;
    height: 4rem;
}

form .checkbox label:first-of-type {
    font-size: 2rem;
    line-height: 3rem;
    line-height: 1rem;
}

form .checkbox input:first-of-type {
    position: relative;
    top: 0.2rem;

    height: 1.1rem;
    width: 1.1rem;
}

.button {
    display: block;
    width: fit-content;
    margin: auto;

    border: 1px solid #117159;
    background: #117159;
    color: white;
}