<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <form>
      <label for="firstName">firstName</label>
      <input type="text" id="firstName" name="firstName" required />

      <label for="lastName">lastName</label>
      <input type="text" id="lastName" name="lastName" required />

      <label for="email">email</label>
      <input type="email" id="email" name="email" required />

      <label for="telephone">telephone</label>
      <input
        type="tel"
        id="telephone"
        name="telephone"
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
      />

      <label for="birthday">DateOfBirth</label>
      <input type="date" id="birthday" name="date" />

      <label for="message">message</label>
      <input type="textarea" id="message" name="message" />
      
      <div class="checkbox">
        <label for="terms">I agree to the terms</label>
        <input type="checkbox" id="terms" name="terms" required />
      </div>

      <input type="submit" value="Register" class="button" />
    </form>
  </body>
</html>
